<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="pdf.compat.js"></script>
		<script src="pdf.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="ng-pdfviewer.js"></script>
		<script src="test.js"></script>
		<title>ng-pdfviewer.js test</title>
	</head>
	<body ng-app="testApp">
		<div ng-controller="TestController">
			<button ng-click="pdfURL='test.pdf'">Load test.pdf</button>
			<button ng-click="pdfURL='test2.pdf'">Load test2.pdf</button>
			<br>
			<button ng-click="gotoPage(1)">|&lt;</button>
			<button ng-click="prevPage()">&lt;</button>
			<button ng-click="nextPage()">&gt;</button>
			<button ng-click="gotoPage(totalPages)">&gt;|</button>
			<br>
			<span ng-show="totalPages">{{currentPage}}/{{totalPages}}</span>
			<br>
			<pdfviewer src="{{pdfURL}}" on-page-load='pageLoaded(page,total)' id="viewer" load-progress='loadProgress(loaded, total, state)'></pdfviewer>
		</div>
	</body>
</html>
