<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
		<script src="pdf.compat.js"></script>
		<script src="pdf.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
		<script src="ng-pdfviewer.js"></script>
		<script src="test.js"></script>
		<title>ng-pdfviewer.js test</title>
	</head>
	<body data-ng-app="testApp">
		<div data-ng-controller="TestController" class="text-center container">
			<div class="row">
				<div class="btn-group">
					<button class="btn" data-ng-click="pdfURL='test.pdf'">Load test.pdf</button>
					<button class="btn" data-ng-click="pdfURL='test2.pdf'">Load test2.pdf</button>
				</div>
				<div class="btn-group">
					<button class="btn" data-ng-click="gotoPage(1)">|&lt;</button>
					<button class="btn" data-ng-click="prevPage()">&lt;</button>
					<button class="btn" data-ng-click="nextPage()">&gt;</button>
					<button class="btn" data-ng-click="gotoPage(totalPages)">&gt;|</button>
					<button class="btn" data-ng-click="setScale(1.8)">ZOOM</button>
					<input type="text" data-ng-model="pages"/>
				</div>
			</div>
			<div class="row">
				<span class="label" data-ng-show="totalPages">{{currentPage}}/{{totalPages}}</span>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pdf">
					<pdfviewer scale="{{scale}}" pages-to-show="{{pages}}" src="{{pdfURL}}" on-page-load='pageLoaded(page,total)' id="viewer" load-progress='loadProgress(loaded, total, state)'></pdfviewer>
				</div>
			</div>
		</div>
	</body>
</html>
